@model Project

@{
    ViewData["Title"] = "Edit";
}
@section NavBarItems {
    <ul class="navbar-nav">
        <li class="nav-item">
            <a asp-controller="Mapping" asp-action="Edit" id="saveButton" class="nav-link">Save Changes</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Mapping" asp-action="Index" asp-route-id="@Model.Id" class="nav-link">Go Back to the Map</a>
        </li>
    </ul>
}

<div class="container-fluid h-100 d-flex flex-column justify-content-center align-items-center card mb-5">
    <div id="loadingOverlay" class="loading-overlay">
        <div>
            <p>Data is being loaded...</p>
            <div class="spinner"></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="mt-3 mb-3"><h4>Edit Table : @Model.Name</h4></div>
        <form asp-action="Edit" method="post">
            <div class="justify-content-center align-items-center table-panel pt-2">

                <div class="container-fluid">
                    <div class="table-responsive">
                    
                            <table id="mappingTable" class="table">
                                <thead class="custom-thead-dark">
                                    <tr>
                                        <th><input type="checkbox" id="selectAll"></th>
                                        <th>N°</th>
                                        @foreach (var source in Model.Mappings.First().Sources)
                                        {
                                            <th>@source.Name Code (Source)</th>
                                            <th>@source.Name Meaning (Source)</th>
                                        }

                                        @foreach (var target in Model.Mappings.First().Targets)
                                        {
                                            <th>@target.Name Code (Target)</th>
                                            <th>@target.Name Meaning (Target)</th>
                                        }
                                        @if (Model.DisplayStatus)
                                        {
                                            <th>Status</th>
                                        }
                                        @if (Model.DisplayMappingEquivalence)
                                        {
                                            <th>Equivalence</th>
                                        }
                                        <th>Comment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                    @for (int i = 0; i < Model.Mappings.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                <input asp-for="@Model.Mappings[i].Id" type="hidden" />
                                                <input  type="checkbox" class="selected-mapping select-all" name="selectedMappings" />
                                            </td>
                                            <td>@(i + 1)</td>
                                            @for (int j = 0; j < Model.Mappings[i].Sources.Count; j++)
                                            {
                                                <td>@Model.Mappings[i].Sources[j].Concept.Code</td>
                                                <td>@Model.Mappings[i].Sources[j].Concept.Meaning</td>
                                                <input type="hidden" asp-for="@Model.Mappings[i].Sources[j].Concept.Code" />
                                                <input type="hidden" asp-for="@Model.Mappings[i].Sources[j].Concept.Meaning" />
                                            }
                                            @for (int j = 0; j < Model.Mappings[i].Targets.Count; j++)
                                            {
                                                <td><input asp-for="@Model.Mappings[i].Targets[j].Concept.Code" class="form-control" /></td>
                                                <td><input asp-for="@Model.Mappings[i].Targets[j].Concept.Meaning" class="form-control" /></td>
                                            }

                                            @if (Model.DisplayMappingEquivalence)
                                            {
                                                <td><input asp-for="@Model.Mappings[i].Equivalence" class="form-control" /></td>
                                            }
                                            @if (Model.DisplayStatus)
                                            {
                                                <td><input asp-for="@Model.Mappings[i].Status" class="form-control" /></td>
                                            }
                                            <td><input asp-for="@Model.Mappings[i].Comment" class="form-control" /></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary submit mt-3">Save Changes</button>
        </form>
    </div>

    <!--<div class="container-fluid mt-4">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body p-3" style="background-color: #D9D9D9;">
                        <h5>Search Target Term</h5>
                        <div class="row  d-flex">
                            <div class="col-md-3">
                                <select class="custom-select" id="columnFilter">
                                    <option value="all">Select the target</option>

                                    @if (Model.Mappings.First().Targets != null && Model.Mappings.First().Targets.Any())
                                    {
                                        @foreach (var target in Model.Mappings.First().Targets)
                                        {
                                            <option value="@target.Name Code (Target)">@target.Name Code (Target)</option>
                                            <option value="@target.Name Meaning (Target)">@target.Name Meaning (Target)</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-7">
                                <input type="text" id="" class="form-control" placeholder="Search for target properties">
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body p-3" style="background-color: #D9D9D9;">
                        <h5>Target Properties</h5>
                        <p>of the selected result from the search target panel</p>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
</div>

@section scripts {
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            // DataTables
            var table = $('#mappingTable').DataTable({
                dom: 'rt<"d-flex" <"bottom col-md-7 mr-4"> <"bottom p-0 m-2"l><"bottom ml-5 p-0"i><"bottom ml-5 p-0"p>><"clear">',
                paging: true,
                responsive: true,
                lengthMenu: [3, 5, 10, 25, 50],
                pageLength: 5,
                searching: true,
                pagingType: "full",
                language: {
                    "paginate": {
                        "first": '<i class="fas fa-angle-double-left"></i>',
                        "previous": '<i class="fas fa-angle-left"></i>',
                        "next": '<i class="fas fa-angle-right"></i>',
                        "last": '<i class="fas fa-angle-double-right"></i>',
                        "page": "_PAGE_"
                    },
                    "lengthMenu": "Items per page : _MENU_",
                    "info": "_START_ - _END_ of _TOTAL_",
                    "emptyTable": "No data available in the table",
                    "infoEmpty": "0 - 0 of 0",
                    "infoFiltered": ""
                }
            });

            //for the spinner
            $("#loadingOverlay").show();

            setTimeout(function () {
                $("#loadingOverlay").hide();
            }, 50);

            $("#goBack").click(function () {
                window.history.back();
            });

            $("#saveButton").click(function () {
                $("#tableDataForm").submit();
            });
        });
    </script>
}
