@model Project

@{
    ViewData["Title"] = "Project";
}
@section NavBarItems {
    <ul class="navbar-nav">
        <li class="nav-item">
            <a asp-controller="Home" asp-action="Index" class="nav-link">Projects List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Edit This Project</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Create New Project From This</a>
        </li>
    </ul>
}
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Url</th>
            <th>Équivalent / Statut</th>
            <th>Commentaire</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Sources != null && Model.Sources.Any() && Model.Targets != null && Model.Targets.Any())
        {
            @for (var i = 0; i < Model.Sources.Count && i < Model.Targets.Count; i++)
            {
                var source = Model.Sources[i];
                var target = Model.Targets[i];
                <tr>
                    <td>@source.Name</td>
                    <td>@source.Description</td>
                    <td>@source.Url</td>
                    <td>@(Model.DisplayMappingEquivalence ? "Equivalent" : Model.DisplayStatus ? "Statut" : "")</td>
                    <td><input type="text" name="sourceComment" /></td>
                    <td>@target.Name</td>
                    <td>@target.Description</td>
                    <td>@target.Url</td>
                    <td>@(Model.DisplayMappingEquivalence ? "Equivalent" : Model.DisplayStatus ? "Statut" : "")</td>
                    <td><input type="text" name="targetComment" /></td>
                </tr>
            }
        }
    </tbody>
</table>