@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Project

@section NavBarItems {
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" type="button" href="" data-toggle="modal" data-target="#createProjectModal">New Project</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Import Project</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Export Project</a>
        </li>
    </ul>
}

<div class="custom-modal">
    <div class="custom-modal-content">
        <h5><span>Edit Project</span></h5>
        <form id="editForm" asp-action="Edit" asp-route-id="@Model.Id" method="post">
            <input type="hidden" id="Id" value="Id" />
            <div class="form-row">
                <div class="col-md-9">
                    <div class="form-group">
                        <label asp-for="Name">Name:</label>
                        <input asp-for="Name" type="text" class="form-control" autocomplete="on">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="Version">Version:</label>
                        <input asp-for="Version" type="text" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description">Description :</label>
                <input asp-for="Description" class="form-control" type="text" placeholder="Enter project description">
            </div>

            @* <div class="form-group">
                <label for="projectSelectSource0">Sources</label>
                @for (int i = 0; i < Model.Sources.Count; i++)
                {
                    <div class="form-row">
                        <div class="col-md-9">
                            <select class="form-control source-select" id="projectSelectSource@(i)" name="Sources[@i]">
                                <option value="" disabled selected>Choose a Source</option>
                                @foreach (var source in Model.Sources)
                                {
                                    <option value="@source">@source</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            @if (i == 0)
                            {
                                <button class="btn add-button" id="addSourceField" style="margin-left: 22px;" type="button">
                                    <i class="fas fa-plus"></i>
                                </button>
                            }
                            <button class="btn import-button" type="button">
                                <i class="fas fa-upload"></i>
                            </button>
                        </div>
                    </div>
                }
            </div>

            <div class="form-group">
                <label for="projectSelectTarget0">Targets</label>
                @for (int i = 0; i < Model.Targets.Count; i++)
                {
                    <div class="form-row">
                        <div class="col-md-9">
                            <select class="form-control target-select" id="projectSelectTarget@(i)" name="Targets[@i]">
                                <option value="" disabled selected>Choose a Target</option>
                                @foreach (var target in Model.Targets)
                                {
                                    <option value="@target">@target</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            @if (i == 0)
                            {
                                <button class="btn add-button" id="addTargetField" style="margin-left: 22px;" type="button">
                                    <i class="fas fa-plus"></i>
                                </button>
                            }
                            <button class="btn import-button" type="button">
                                <i class="fas fa-upload"></i>
                            </button>
                        </div>
                    </div>
                }
            </div> *@

            <div class="bg-light">
                <div class="accordion" id="advancedSettingsAccordion">
                    <div class="card">
                        <div class="card-header" id="advancedSettingsHeader">
                            <h6 class="mb-0">
                                <a data-toggle="collapse" data-target="#advancedSettingsCollapse" aria-expanded="true" aria-controls="advancedSettingsCollapse">
                                    Advanced Settings
                                </a>
                            </h6>
                        </div>

                        <div id="advancedSettingsCollapse" class="collapse" aria-labelledby="advancedSettingsHeader" data-parent="#advancedSettingsAccordion">
                            <div class="card-body bg-light">
                                @for (int i = 0; i < 2; i++)
                                {
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="displayCheckbox@(i)" name="DisplayCheckbox@(i)"
                                            @(i == 0 && Model.DisplayMappingEquivalence ? "checked" : "")
                                            @(i == 1 && Model.DisplayStatus ? "checked" : "") 
                                        >
                                        <label class="form-check-label" for="displayCheckbox@(i)">
                                            @if (i == 0)
                                            {
                                                <span>Display Mapping Equivalence</span>
                                            }
                                            else if (i == 1)
                                            {
                                                <span>Display Status</span>
                                            }
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer custom-modal-footer">
                <a asp-controller="Home" asp-action="Index" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                <button type="submit" class="btn btn-primary submit">Save</button>
            </div>
        </form>
    </div>
</div>